// Header
header{
    nav{
        a{
            text-transform: uppercase;
            span{
                font-weight: bold;
            }
        }
        .sidenav-trigger{
            margin: 0rem;
            font-size: 30px;
        }
        border-bottom: 2px solid $brand-teal-darken-3;
    }
}
// Side Navigation
.sidenav{
    li{
        a{
            i{
                margin: 0 15px 0 0 !important;
            }
        }
    }
}
