//color light mode
@media (prefers-color-scheme: light){
    :root{
        --white: #F1F0F5;
        --brand-teal: #009688;
        --brand-teal-lighten: #26a69a;
        --brand-teal-darken-1: #00897b;
        --brand-teal-darken-2: #00796b;
        --brand-teal-darken-3: #00695c;
    }
}
// color dark mode
@media (prefers-color-scheme: dark){
    :root{
        --white: #4E4B59;
        --brand-teal: #03a9f4;
        --brand-teal-lighten: #29b6f6;
        --brand-teal-darken-1: #0277bd;
        --brand-teal-darken-2: #01579b;
        --brand-teal-darken-3: #0288d1;
    }
}

// grey-colors
$grey-600: #33303E;
$grey-500: #4E4B59;
$grey-400: #5F5C6B;
$grey-300: #7A7786;
$grey-200: #C6C5CE;
$grey-100: #F1F0F5;
$white: #FFFFFF;